{% extends "base.html" %}
{% block content %}

    <div class="col-md-6 classy_frame" style="padding-top: 0%;" id="about">
      <center><h3 style="text-transform: capitalize;font-family:Arial, Helvetica, sans-serif;font-weight:bold">About</h3></center>
      <h4 style='font-family:Arial, Helvetica, sans-serif;'>Mother earth is enriched and nourished with a variety of plants. These plants are useful in many ways such as drug formulation, production of herbal products, and medicines to cure many common ailments and diseases. For the past 5000 years, Ayurveda, a traditional Indian medicinal system is widely accepted even today. India is a rich country for being the habitat for a variety of medicinal plants. Many parts of the plants such as leaves, bark, root, seeds, fruits, and many more are used as a vital ingredient for the production of herbal medicines. Herbal medicines are preferred in both developing and developed countries as an alternative to synthetic drugs mainly because of no side effects.
        <br><br>
        This application helps in recognition of these 30 different species by using the applications of image processing and computer vision techniques for the identification of the medicinal plants , and is contributed by CDAC KP Bangalore studends of EDBDA under the guidance of Ramesh Sir<br><br>
        
      </h4>
    </div>

{% endblock %}